<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Trimaran Hull Plan_1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.069516 0.090217 -0.019548"
        rpy="0 0 0" />
      <mass
        value="80.495" />
      <inertia
        ixx="3.9353"
        ixy="-1.9579E-07"
        ixz="1.4429E-05"
        iyy="4.3338"
        iyz="-0.0023399"
        izz="0.60025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Hull">
    <inertial>
      <origin
        xyz="1.6895E-05 -0.074162 -0.0020175"
        rpy="0 0 0" />
      <mass
        value="35" />
      <inertia
        ixx="3.9343"
        ixy="6.3474E-08"
        ixz="1.6105E-05"
        iyy="4.3327"
        iyz="-0.0023402"
        izz="0.59953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Hull.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Hull.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hull_center"
    type="fixed">
    <origin
      xyz="-0.069531 0.019137 0.16425"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Hull" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Camera_L">
    <inertial>
      <origin
        xyz="2.6975E-06 0.015484 0.042379"
        rpy="0 0 0" />
      <mass
        value="0.15226" />
      <inertia
        ixx="2.2818E-05"
        ixy="-2.5787E-09"
        ixz="-6.1961E-09"
        iyy="0.00037232"
        iyz="-3.1542E-08"
        izz="0.00037474" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Camera_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Camera_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="C_L"
    type="fixed">
    <origin
      xyz="-0.025636 -0.36155 0.36876"
      rpy="-0.032661 0 -2.0944" />
    <parent
      link="base_link" />
    <child
      link="Camera_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Camera_R">
    <inertial>
      <origin
        xyz="2.7724E-06 0.015484 0.042379"
        rpy="0 0 0" />
      <mass
        value="0.15226" />
      <inertia
        ixx="2.2818E-05"
        ixy="-2.5672E-09"
        ixz="-6.433E-09"
        iyy="0.00037232"
        iyz="-3.1508E-08"
        izz="0.00037474" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Camera_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Camera_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="C_R"
    type="fixed">
    <origin
      xyz="-0.11343 -0.36155 0.36876"
      rpy="-0.032661 0 2.0944" />
    <parent
      link="base_link" />
    <child
      link="Camera_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Front_Thruster">
    <inertial>
      <origin
        xyz="5.4986E-05 0.00055945 -0.0039639"
        rpy="0 0 0" />
      <mass
        value="0.19508" />
      <inertia
        ixx="0.00013137"
        ixy="-6.6947E-08"
        ixz="-1.3646E-07"
        iyy="0.00012733"
        iyz="1.4653E-07"
        izz="0.0001818" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Front_Thruster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Front_Thruster.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Thruster_F"
    type="fixed">
    <origin
      xyz="-0.074886 -0.40284 -0.025752"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="Front_Thruster" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Back_Thruster_R">
    <inertial>
      <origin
        xyz="5.8812E-05 -0.00055929 0.0039651"
        rpy="0 0 0" />
      <mass
        value="0.19507" />
      <inertia
        ixx="0.00013136"
        ixy="7.1663E-08"
        ixz="1.4129E-07"
        iyy="0.00012733"
        iyz="1.4696E-07"
        izz="0.00018179" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Back_Thruster_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Back_Thruster_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Thruster_B_R"
    type="fixed">
    <origin
      xyz="-0.33423 0.19891 -0.074752"
      rpy="-1.5708 0 -0.10161" />
    <parent
      link="base_link" />
    <child
      link="Back_Thruster_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Back_Thruster_L">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Back_Thruster_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Trimaran Hull Plan_1/meshes/Back_Thruster_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Thruster_B_L"
    type="fixed">
    <origin
      xyz="0.1958 0.19896 -0.074752"
      rpy="-1.5708 0 0.070489" />
    <parent
      link="base_link" />
    <child
      link="Back_Thruster_L" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>